body {
	font-family: sans-serif;
	text-align: center;
	padding-top: 50px;
	background: #242124;
	}

input, button {
	padding: 10px;
	font-size: 16px;
	margin: 5px; }

.message {
	font-size: 18px;
	margin-top: 20px;
	font-weight: bold;
	color: #fff;
	}

h1 {
	color: #fff;
	}